* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
.grid-sidebar {
  grid-row: 1/-1;
}
